.p-Widget.dialogOverlay.cellbang-SharePasswordDialog {
    z-index: 60000;
}

.p-Widget.dialogOverlay.cellbang-SharePasswordDialog .dialogBlock {
    min-height: 200px;
}

.p-Widget.dialogOverlay.cellbang-SharePasswordDialog .dialogContent {
    margin: 33px 33px 0 33px;
    padding-bottom: 0;
}

.p-Widget.dialogOverlay.cellbang-SharePasswordDialog .dialogControl {
    margin-left: 33px;
    padding-bottom: calc(var(--theia-ui-padding)*4);
}

.p-Widget.dialogOverlay.cellbang-SharePasswordDialog .error {
    color: #f4433c;
}

.p-Widget.dialogOverlay.cellbang-SharePasswordDialog :focus {
    box-shadow: none;
}

.p-Widget.dialogOverlay.cellbang-SharePasswordDialog .theia-button.main {
    float: right;
}
