.theia-icon {
    margin: 7px;
    margin-left: 9px;
    margin-right: 0;
    font-family: "cellbang" !important;
    font-size: 17px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2d85f0;
    text-align: center;
}

.theia-icon:before {
    content: "\e604";
}